@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.selectorTable{
    display: flex;
    justify-content: center;
    /* border: solid 1px black; */
}

h1{
    margin: 20px 0px 20px 0px;
}

#action, #type{
    margin: 20px 5px 20px 5px;
}

img{
    width: 200px;
}

ul{
    list-style: none;
}

table.mainTable {
    border-collapse: separate;
    border-spacing: 50px;
}
